
@font-face{
    font-family: 'DM Sans-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('DM Sans-Regular'),
        url('../fonts/DMSans-Regular.woff') format('woff'),
        url('../fonts/DMSans-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face{
    font-family: 'DM Sans-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('DM Sans-Medium'),
        url('../fonts/DMSans-Medium.woff') format('woff'),
        url('../fonts/DMSans-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face{
    font-family: 'DM Sans-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('DM Sans-Bold'),
        url('../fonts/DMSans-Bold.woff') format('woff'),
        url('../fonts/DMSans-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face{
    font-family: 'Rubik-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Rubick-Regular'),
        url('../fonts/Rubick-Regular.woff') format('woff'),
        url('../fonts/Rubick-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face{
    font-family: 'Rubik-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Rubick-Medium'),
        url('../fonts/Rubick-Medium.woff') format('woff'),
        url('../fonts/Rubick-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face{
    font-family: 'Rubik-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Rubick-Bold'),
        url('../fonts/Rubick-Bold.woff') format('woff'),
        url('../fonts/Rubick-Bold.woff2') format('woff2');
    font-display: swap;
}

