html,
body{
    height: 100%;
}

.main{
    flex-grow: 1;
}

// body{
    
// }


.container{
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.product__container,
.design__container,
.insights__container{
    max-width: 1170px;
    margin: 0 auto;
}

.title{
    color: $title;
    @extend %dmSans-700;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: auto;
    text-align: center;
}

.product__filter-btn,
.design__filter-btn{
    text-align: center;
    margin-bottom: 70px;
    button{
        background-color: transparent;
        border:none;
        padding: 2px 5px;
        color: $default;
        @extend %dmSans-700;
        font-size: 16px;
    }
    button+button{
        margin-left: 15px;
    }
    .mixitup-control-active{
        color: #191919;
    }
}

