$accent: #fe3e57;
$default: #8d8d8d;
$title: #414141;
$white: #fff;
$bg: #fcd7b6;


%dmSans-400{
  font-family: 'DM Sans-Regular', sans-serif;
  font-weight: 400;
}
%dmSans-500{
  font-family: 'DM Sans-Medium', sans-serif;
  font-weight: 500;
}
%dmSans-700{
  font-family: 'DM Sans-Bold', sans-serif;
  font-weight: 700;
}
%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%rubik-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}